.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7); /* Light mode */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* Dark mode overlay */
@media (prefers-color-scheme: dark) {
  .loader {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.jimu-primary-loading,
.jimu-primary-loading:before,
.jimu-primary-loading:after {
  background: #6966e9;
  width: 13.6px;
  height: 32px;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
}

.jimu-primary-loading {
  position: relative;
  text-indent: -9999em;
  animation-delay: 0.16s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  content: '';
  position: absolute;
  top: 0;
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  animation-delay: 0.32s !important;
}

@keyframes loading-keys-app-loading {
  0%, 80%, 100% {
    opacity: 0.75;
    box-shadow: 0 0 #6966e9;
    height: 32px;
  }
  40% {
    opacity: 1;
    box-shadow: 0 -8px #6966e9;
    height: 40px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}